* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
}

.container {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

.container-left {
    display: flex;
    flex-direction: column;
}

.container-left h3 {
    font-size: 48px;
    font-weight: 900;
}

.container-left p {
    font-size: 18px;
    color: #e5e7eb
}

img {
    width: 300px;
}


.multi-image {
    display: flex;
    flex-direction: column;
}

.multi-image h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

ul {
    display: flex;
}

li {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.footer {
    display: flex;
}

.text {
    color: #1f2937;
    display: flex;
    flex-direction: column;
}


